@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    /* Variables */
    --background-color: #576745;

    --container-background: #f9f9f9;

    --wrapper-width: 1100px;

    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    box-sizing: border-box;
    color: #5A5757;
}

#popup-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    background-color: rgba(87, 103, 69, 0.5);
}

.pop-up {
    box-shadow: 0px 4px 8px -2px rgba(16, 24, 40, 0.1), 0px 2px 4px -2px rgba(16, 24, 40, 0.06);
    background: #f9f9f9; 
    max-width: 1200px;
    height: 80vh;
    margin: 4rem auto 0 auto;
    display: flex;
    flex-direction: column;
    border-radius: 25px;
    z-index: 100;
    padding: 2em;
}

.pop-up #close-popup-btn {
    cursor: pointer;
    transition: transform ease-out .2s;
}

.pop-up #close-popup-btn:hover {
    transform: scale(1.1);
}

.clickable:hover {
    background-color: lightgray;
    cursor: pointer;
}

.close-btn {
    margin-top: 1rem;
    max-width: 1rem;
    max-height: 1rem;
}

.pop-up_header {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}

.popup_heading {
    padding: 1rem 0 2rem 0;
    font-weight: 500;
    font-size: 30px;
    line-height: 38px;
    color: #302C2C;
    }

.popup_table {
    border-radius: 25px;
    border-collapse: collapse;
    overflow: hidden;
}

.popup_table thead {
    background: #ECEEE0;
    border-radius: 25px;
    text-align: left;
 
}

.popup_table tbody {
    background-color: white;
}

.popup_table tr {
    height: 3.5rem;
}

.popup_table th {
font-weight: 500;
font-size: 14px;
line-height: 20px;
color: #5A5757;
padding: 1rem 0  0.5rem 1.5rem;
}


.popup_table td{
    font-size: 0.875rem;
    padding: 1rem 0  0.5rem 1.5rem;
    border-bottom: 1px solid #D8D8DB;
}


.last-row{
    height:1rem;
}

.pop-up a img {
    width: 18px;
    height: 18px;
    margin-right: 1rem;
}

.icon {
    margin-left: 2rem;
}

.table-container {
    overflow-y: auto;
    height: 60vh;
}

@media screen and (max-width: 1000px) {
  .hidden {
      display: none;
  }
}

