<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
</head>
<body>
<div>
    <!--Top navbar consisting of logo and employee avatar-->
    <nav class="top-nav">
        <img class="logo"src="/static/images/logo-white.png" alt="logo">
        <img class="avatar"src="/static/images/Avatar.png" alt="avatar">
    </nav>
    <!--Side navbar-->
    <div class="side-nav">
        <a href="dashboard.html"><img src="/static/images/calendar.png" alt="bookings-icon"></a>
        <a href="motorhomes.html"><img src="/static/images/truck.png" alt="motorhomes-icon"></a>
        <a href="location.html"><img src="/static/images/map-pin.png" alt="locations-icon"></a>
    </div>
    <div class="new-booking">
        <h2>New Booking</h2>
        <!--Next div will be the horizontal lines to display the steps.-->
        <div>
            <div class="step-one"></div>
            <div class="step-two"></div>
            <div class="step-three"></div>
        </div>
        <div>
            <form action="">
                <!--First step-->
                <div class="first-step">
                    <label for="">First Name</label>
                    <input type="text" name="" id="" required>
                    <label for="">Last Name</label>
                    <input type="text" name="" id="" required>
                    <label for="">CPR Number</label>
                    <input type="text" name="" id="" required>
                    <label for="">Phone Number</label>
                    <input type="text" name="" id="" required>
                    <label for="">Start Date</label>
                    <input type="date" required>
                    <label for="">End Date</label>
                    <input type="date" required>
                </div>
                <!--Second-step-->
                <div class="second-step">
                    <label for="">Vehicle</label>
                    <select name="" id="" required>
                        <option value="">motorhome</option>
                        <option value="">motorhome</option>
                        <option value="">motorhome</option>
                        <option value="">motorhome</option>
                    </select>
                    <label for="">Extras</label>
                    <!--Has to be done with javascript to add checkbox-->
                    <select name="extras" id="">
                        <option value="">BBQ grill</option>
                        <option value="">Bike rack</option>
                        <option value="">Chairs</option>
                        <option value="">Bed linen</option>
                    </select>
                </div>
                <!--Third-step-->
                <div class="third-step">
                    <label for="">Pick-up location</label>
                    <input type="text" required>
                    <label for="">Time</label>
                    <input type="time">
                    <label for="">Drop-off location</label>
                    <input type="text" required>
                </div>
                <!--Buttons - to toggle -->
                <input type="submit" value="Next">
                <input type="submit" value="Add">
            </form>
        </div>
        <div class="illustration">
            <img src="/static/images/Illustration.png" alt="illustration">
        </div>
    </div>
    <!--Tables section-->
    <div class="tables">
        <div class="active-bookings">
            <h2>Active Bookings</h2>
            <table>
                <thead>
                <th>ID</th>
                <th>Name</th>
                <th><a href=""><img src="/static/images/arrow-up-right.png" alt="arrow-icon"></a></th>
                </thead>
                <tr>
                    <td>23456</td>
                    <td>Simona Tingleff Kardel</td>
                    <td><a href=""><img src="/static/images/more-horizontal.png" alt="dots-icon"></a></td>
                </tr>
                <tr>
                    <td>23456</td>
                    <td>Simona Tingleff Kardel</td>
                    <td><a href=""><img src="/static/images/more-horizontal.png" alt="dots-icon"></a></td>
                </tr>
                <tr>
                    <td>23456</td>
                    <td>Simona Tingleff Kardel</td>
                    <td><a href=""><img src="/static/images/more-horizontal.png" alt="dots-icon"></a></td>
                </tr>
                <tr>
                    <td>23456</td>
                    <td>Simona Tingleff Kardel</td>
                    <td><a href=""><img src="/static/images/more-horizontal.png" alt="dots-icon"></a></td>
                </tr>
                <tr>
                    <td>23456</td>
                    <td>Simona Tingleff Kardel</td>
                    <td><a href=""><img src="/static/images/more-horizontal.png" alt="dots-icon"></a></td>
                </tr>
                <tr>
                    <td>23456</td>
                    <td>Simona Tingleff Kardel</td>
                    <td><a href=""><img src="/static/images/more-horizontal.png" alt="dots-icon"></a></td>
                </tr>
            </table>
        </div>
        <div class="past-bookings">
            <h2>Past Bookings</h2>
            <table>
                <thead>
                <th>ID</th>
                <th>Name</th>
                <th><a href=""><img src="/static/images/arrow-up-right.png" alt="arrow-icon"></a></th>
                </thead>
                <tr>
                    <td>23456</td>
                    <td>Simona Tingleff Kardel</td>
                    <td><a href=""><img src="/static/images/more-horizontal.png" alt="dots-icon"></a></td>
                </tr>
                <tr>
                    <td>23456</td>
                    <td>Simona Tingleff Kardel</td>
                    <td><a href=""><img src="/static/images/more-horizontal.png" alt="dots-icon"></a></td>
                </tr>
                <tr>
                    <td>23456</td>
                    <td>Simona Tingleff Kardel</td>
                    <td><a href=""><img src="/static/images/more-horizontal.png" alt="dots-icon"></a></td>
                </tr>
                <tr>
                    <td>23456</td>
                    <td>Simona Tingleff Kardel</td>
                    <td><a href=""><img src="/static/images/more-horizontal.png" alt="dots-icon"></a></td>
                </tr>
                <tr>
                    <td>23456</td>
                    <td>Simona Tingleff Kardel</td>
                    <td><a href=""><img src="/static/images/more-horizontal.png" alt="dots-icon"></a></td>
                </tr>
                <tr>
                    <td>23456</td>
                    <td>Simona Tingleff Kardel</td>
                    <td><a href=""><img src="/static/images/more-horizontal.png" alt="dots-icon"></a></td>
                </tr>
            </table>
        </div>
    </div>
</div>

</body>
</html>