<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/static/css/sa/sa.css">
    <link rel="icon" type="image/x-icon" href="/static/images/fav.ico">


</head>
<body>
<div class="container">
    <div class="top">
        <img class="logo" src="/static/images/logo-white.png" alt="logo">
        <div class="top-buttons">
            <img class="avatar" src="/static/images/Avatar.png" alt="avatar">
            <img class="avatar" src="/static/images/Group%20253.png" alt="log-out">
        </div>

    </div>
    <div class="side-bar">
        <div class="side-buttons">
            <a href="dashboard/sa"><img class="booking-img" src="/static/images/calendar.png" alt="bookings-icon"></a>
            <a href="dashboard/sa/motorhomes"><img src="/static/images/truck.png" alt="motorhomes-icon"></a>
            <a href="dashboard/sa/locations"><img src="/static/images/map-pin.png" alt="locations-icon"></a>
        </div>
    </div>
    <div class="main-content">
        <div class="steps">
            <h2>New Booking</h2>

            <div class="step-buttons">
                <div class="step-one"></div>
                <div class="step-two"></div>
                <div class="step-three"></div>
            </div>
            <div class="first-step">
                <div class="left-side">
                    <label for="">First Name</label>
                    <input type="text" name="" id="" required>
                    <label for="">CPR Number</label>
                    <input type="text" name="" id="" required>

                    <label  for="">Start Date</label>
                    <input class="date" type="date" required>
                </div>
                <div class="right-side">
                    <label for="">Last Name</label>
                    <input type="text" name="" id="" required>

                    <label for="">Phone Number</label>
                    <input type="text" name="" id="" required>

                    <label for="">End Date</label>
                    <input class="date" type="date" required>
                    <button class="btn-next">
                        <input class="submit-button" type="submit" value="Next  >">

                    </button>
                </div>



            </div>


        </div>
        <div class="graphic">
            <img src="/static/images/Illustration.png" alt="illustration">
        </div>

        <div class="active-booking">
            <h2>Active Bookings</h2>

            <table>
                <thead>
                <th>ID</th>
                <th>Name</th>
                <th><a href=""><img src="/static/images/arrow-up-right.png" alt="arrow-icon"></a></th>
                </thead>
                <tr>
                    <td>23456</td>
                    <td>Simona Tingleff Kardel</td>
                    <td><a href=""><img src="/static/images/more-horizontal.png" alt="dots-icon"></a></td>
                </tr>

                <tr class="last-row">
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
        </div>
        <div class="past-bookings">
            <h2>Past Bookings</h2>
            <table>
                <thead>
                <th>ID</th>
                <th>Name</th>
                <th><a href=""><img src="/static/images/arrow-up-right.png" alt="arrow-icon"></a></th>
                </thead>
                <tr>
                    <td>23456</td>
                    <td>Simona Tingleff Kardel</td>
                    <td><a href=""><img src="/static/images/more-horizontal.png" alt="dots-icon"></a></td>
                </tr>
                <tr>
                    <td>23456</td>
                    <td>Simona Tingleff Kardel</td>
                    <td><a href=""><img src="/static/images/more-horizontal.png" alt="dots-icon"></a></td>
                </tr>
                <tr>
                    <td>23456</td>
                    <td>Simona Tingleff Kardel</td>
                    <td><a href=""><img src="/static/images/more-horizontal.png" alt="dots-icon"></a></td>
                </tr>
                <tr>
                    <td>23456</td>
                    <td>Simona Tingleff Kardel</td>
                    <td><a href=""><img src="/static/images/more-horizontal.png" alt="dots-icon"></a></td>
                </tr>
                <tr>
                    <td>23456</td>
                    <td>Simona Tingleff Kardel</td>
                    <td><a href=""><img src="/static/images/more-horizontal.png" alt="dots-icon"></a></td>
                </tr>
                <tr>
                    <td>23456</td>
                    <td>Simona Tingleff Kardel</td>
                    <td><a href=""><img src="/static/images/more-horizontal.png" alt="dots-icon"></a></td>
                </tr>
                <tr class="last-row"></tr>

            </table>
        </div>
        <div class="graphic2">
            <img src="/static/images/Online%20calendar-amico%201%20(1).png" alt="illustration">
        </div>
        <div class="upcoming-bookings">
            <h2>Upcoming Bookings</h2>
            <table>
                <thead>
                <th>ID</th>
                <th>Name</th>
                <th><a href=""><img src="/static/images/arrow-up-right.png"alt="arrow-icon"></a></th>
                </thead>
                <tr>
                    <td>23456</td>
                    <td>Simona Tingleff Kardel</td>
                    <td><a href=""><img src="/static/images/more-horizontal.png" alt="dots-icon"></a></td>
                </tr>
                <tr>
                    <td>23456</td>
                    <td>Simona Tingleff Kardel</td>
                    <td><a href=""><img src="/static/images/more-horizontal.png" alt="dots-icon"></a></td>
                </tr>
                <tr>
                    <td>23456</td>
                    <td>Simona Tingleff Kardel</td>
                    <td><a href=""><img src="/static/images/more-horizontal.png" alt="dots-icon"></a></td>
                </tr>
                <tr>
                    <td>23456</td>
                    <td>Simona Tingleff Kardel</td>
                    <td><a href=""><img src="/static/images/more-horizontal.png" alt="dots-icon"></a></td>
                </tr>
                <tr>
                    <td>23456</td>
                    <td>Simona Tingleff Kardel</td>
                    <td><a href=""><img src="/static/images/more-horizontal.png" alt="dots-icon"></a></td>
                </tr>
                <tr>
                    <td>23456</td>
                    <td>Simona Tingleff Kardel</td>
                    <td><a href=""><img src="/static/images/more-horizontal.png" alt="dots-icon"></a></td>
                </tr>
                <tr class="last-row"></tr>

            </table>
        </div>

    </div>
</div>

</body>
</html>