<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Locations</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/sa/locations.css">
    </head>
    <body>
   
            <!--Top navbar-->
            <nav class="top-nav">
                <img class="logo" src="/images/logo-white.png" alt="logo">
                <div class="top-buttons">
                    <img class="avatar" src="/images/Avatar.png" alt="avatar">
                    <img class="avatar" src="/images/logout.png" alt="log-out">
                </div>
            </nav>

         <!--Side navbar-->
                <div class="side-nav">
                    <a href="/dashboard/sa"><img class="booking-img" src="/images/calendar.png" alt="bookings-icon"></a>
                    <a href="/dashboard/sa/motorhomes"><img src="/images/truck.png" alt="motorhomes-icon"></a>
                    <a href="/dashboard/sa/locations"><img src="/images/map-pin.png" alt="locations-icon"></a>
                </div>


                <!--Main div-->
                <div class="container">

                    <!--Top div-->
                    <div class="top-flex">

                        <!--left top div-->
                        <div class="top-left">

                            <div class="heading">
                            <h2>Today</h2>
                            <h2 class="date" th:text="${todaysDate}"></h2>
                            </div>
                        <div class="today-flex">
                            <div class="pick-ups">
                                <a href=""><img src="/images/arrow-up-right.png" alt="arrow-icon" class="arrow"></a>
                                <div class="box-text">
                                    <h1 th:text="${todaysPickups}"></h1>
                                    <h3>pick ups</h3>
                                </div>
                            </div>
                            <div class="drop-offs">
                                <a href=""><img src="/images/arrow-up-right.png" alt="arrow-icon" class="arrow"></a>
                                <div class="box-text">
                                    <h1 th:text="${todaysDropoffs}"></h1>
                                    <h3>drop-offs</h3>  
                                </div>
                            </div>
                        </div>

                        </div>
                     

                        <!--right top div - table upcoming pick ups -->
                        <div class="top-right">
                            <div class="upcoming-pick-ups">
                                <h2 class="table-heading">Upcoming pick-ups</h2>
                                <table>
                                    <thead>
                                    <tr>
                                        <th>Date</th>
                                        <th>Time</th>
                                        <th>Name</th>
                                        <th>Location</th>
                                        <th><a href=""><img src="/images/arrow-up-right.png" alt="arrow-icon"></a></th>
                                    </tr>
                                    </thead>
                                    <tr th:each="booking : ${pickups}">
                                        <td th:text="${booking.startDate}"></td>
                                        <td th:text="${booking.pickUpTime}"></td>
                                        <td th:text="${booking.customer.firstName} + ' ' + ${booking.customer.lastName}"></td>
                                        <td th:text="${booking.pickUpLocation}"></td>
                                        <td><a href=""><img src="/images/more-horizontal.png" alt="dots-icon"></a></td>
                                    </tr>

                                </table>
                            </div>
                            </div>
                            </div>
                   

                    <div class="bottom-flex">
                        <div class="left-div">
                            <div class="upcoming-pick-ups">
                                <h2 class="table-heading">Upcoming drop-offs</h2>
                                <table>
                                    <thead>
                                    <tr>
                                        <th>Date</th>
                                        <th>Name</th>
                                        <th>Location</th>
                                        <th><a href=""><img src="/images/arrow-up-right.png" alt="arrow-icon"></a></th>
                                    </tr>
                                    </thead>
                                    <tr th:each="booking : ${dropoffs}">
                                        <td th:text="${booking.endDate}"></td>
                                        <td th:text="${booking.customer.firstName} + ' ' + ${booking.customer.lastName}"></td>
                                        <td th:text="${booking.dropOffLocation}"></td>
                                        <td><a href=""><img src="/images/more-horizontal.png" alt="dots-icon"></a></td>
                                    </tr>

                                </table>
                            </div>

                        </div>
                        <div class="right-div">
                            <img src="/images/locations-illustration.png" alt="illustration" class="illustration">

                        </div>

                    </div>
                    

                    </div>

        </div>
    </body>
</html>