<DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Locations</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/static/css/sa/locations.css">
    </head>
    <body>
   
            <!--Top navbar-->
            <nav class="top-nav">
                <img class="logo" src="/static/images/logo-white.png" alt="logo">
                <div class="top-buttons">
                    <img class="avatar" src="/static/images/Avatar.png" alt="avatar">
                    <img class="avatar" src="/static/images/logout.png" alt="log-out">
                </div>
            </nav>

         <!--Side navbar-->
                <div class="side-nav">
                    <a href="index.html"><img class="booking-img" src="/static/images/calendar.png" alt="bookings-icon"></a>
                    <a href="motorhomes.html"><img src="/static/images/truck.png" alt="motorhomes-icon"></a>
                    <a href="location.html"><img src="/static/images/map-pin.png" alt="locations-icon"></a>
                </div>


                <!--Main div-->
                <div class="container">

                    <!--Top div-->
                    <div class="top-flex">

                        <!--left top div-->
                        <div class="top-left">

                            <div class="heading">
                            <h2>Today</h2>
                            <h2 class="date">17/05/2022</h2>
                            </div>
                        <div class="today-flex">
                            <div class="pick-ups">
                                <a href=""><img src="/static/images/arrow-up-right.png" alt="arrow-icon" class="arrow"></a>
                                <div class="box-text">
                                    <h1>6</h1>
                                    <h3>pick ups</h3>
                                </div>
                            </div>
                            <div class="drop-offs">
                                <a href=""><img src="/static/images/arrow-up-right.png" alt="arrow-icon" class="arrow"></a>
                                <div class="box-text">
                                    <h1>5</h1>
                                    <h3>drop-offs</h3>  
                                </div>
                            </div>
                        </div>

                        </div>
                     

                        <!--right top div - table upcoming pick ups -->
                        <div class="top-right">
                            <div class="upcoming-pick-ups">
                                <h2 class="table-heading">Upcoming pick-ups</h2>
                                <table>
                                    <thead>
                                    <th>Date</th>
                                    <th>Time</th>
                                    <th>Name</th>
                                    <th>Location</th>
                                    <th><a href=""><img src="/static/images/arrow-up-right.png" alt="arrow-icon"></a></th>
                                    </thead>
                                    <tr>
                                        <td>06.12.2022</td>
                                        <td>12.00</td>
                                        <td>Simona Tingleff Kardel</td>
                                        <td>CPH Airport</td>
                                        <td><a href=""><img src="/static/images/more-horizontal.png" alt="dots-icon"></a></td>
                                    </tr>
                                    <tr>
                                        <td>06.12.2022</td>
                                        <td>12.00</td>
                                        <td>Simona Tingleff Kardel</td>
                                        <td>CPH Airport</td>
                                        <td><a href=""><img src="/static/images/more-horizontal.png" alt="dots-icon"></a></td>
                                    </tr>
                                    <tr>
                                        <td>06.12.2022</td>
                                        <td>12.00</td>
                                        <td>Simona Tingleff Kardel</td>
                                        <td>CPH Airport</td>
                                        <td><a href=""><img src="/static/images/more-horizontal.png" alt="dots-icon"></a></td>
                                    </tr>
                                    <tr>
                                        <td>06.12.2022</td>
                                        <td>12.00</td>
                                        <td>Simona Tingleff Kardel</td>
                                        <td>CPH Airport</td>
                                        <td><a href=""><img src="/static/images/more-horizontal.png" alt="dots-icon"></a></td>
                                    </tr>
                                    <tr>
                                        <td>06.12.2022</td>
                                        <td>12.00</td>
                                        <td>Simona Tingleff Kardel</td>
                                        <td>CPH Airport</td>
                                        <td><a href=""><img src="/static/images/more-horizontal.png" alt="dots-icon"></a></td>
                                    </tr>
                                    <tr>
                                        <td>06.12.2022</td>
                                        <td>12.00</td>
                                        <td>Simona Tingleff Kardel</td>
                                        <td>CPH Airport</td>
                                        <td><a href=""><img src="/static/images/more-horizontal.png" alt="dots-icon"></a></td>
                                    </tr>
                                    <tr class="last-row"></tr>
                                </table>
                            </div>
                            </div>
                            </div>
                   

                    <div class="bottom-flex">
                        <div class="left-div">
                            <div class="upcoming-pick-ups">
                                <h2 class="table-heading">Upcoming drop-offs</h2>
                                <table>
                                    <thead>
                                    <th>Date</th>
                                    <th>Time</th>
                                    <th>Name</th>
                                    <th>Location</th>
                                    <th><a href=""><img src="/static/images/arrow-up-right.png" alt="arrow-icon"></a></th>
                                    </thead>
                                    <tr>
                                        <td>06.12.2022</td>
                                        <td>12.00</td>
                                        <td>Simona Tingleff Kardel</td>
                                        <td>CPH Airport</td>
                                        <td><a href=""><img src="/static/images/more-horizontal.png" alt="dots-icon"></a></td>
                                    </tr>
                                    <tr>
                                        <td>06.12.2022</td>
                                        <td>12.00</td>
                                        <td>Simona Tingleff Kardel</td>
                                        <td>CPH Airport</td>
                                        <td><a href=""><img src="/static/images/more-horizontal.png" alt="dots-icon"></a></td>
                                    </tr>
                                    <tr>
                                        <td>06.12.2022</td>
                                        <td>12.00</td>
                                        <td>Simona Tingleff Kardel</td>
                                        <td>CPH Airport</td>
                                        <td><a href=""><img src="/static/images/more-horizontal.png" alt="dots-icon"></a></td>
                                    </tr>
                                    <tr>
                                        <td>06.12.2022</td>
                                        <td>12.00</td>
                                        <td>Simona Tingleff Kardel</td>
                                        <td>CPH Airport</td>
                                        <td><a href=""><img src="/static/images/more-horizontal.png" alt="dots-icon"></a></td>
                                    </tr>
                                    <tr>
                                        <td>06.12.2022</td>
                                        <td>12.00</td>
                                        <td>Simona Tingleff Kardel</td>
                                        <td>CPH Airport</td>
                                        <td><a href=""><img src="/static/images/more-horizontal.png" alt="dots-icon"></a></td>
                                    </tr>
                                    <tr>
                                        <td>06.12.2022</td>
                                        <td>12.00</td>
                                        <td>Simona Tingleff Kardel</td>
                                        <td>CPH Airport</td>
                                        <td><a href=""><img src="/static/images/more-horizontal.png" alt="dots-icon"></a></td>
                                    </tr>
                                    <tr class="last-row"></tr>
                                </table>
                            </div>

                        </div>
                        <div class="right-div">
                            <img src="/static/images/locations-illustration.png" alt="illustration" class="illustration">

                        </div>

                    </div>
                    

                    </div>

        </div>
        
        <script src="" async defer></script>
    </body>
</html>