<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>TITLE?</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/static/css/sa/pop-up.css">
    </head>
    <body>
        <div class="pop-up">
            <a href=""><img class="close-btn" src="/static/images/x.png" alt="close-btn"></a>
            <h2>Active Bookings</h2>
            <div class="table-container">
                <table>
                    <thead>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Start-date</th>
                    <th>End-date</th>
                    <th class="hidden">Motorhome</th>
                    <th class="hidden">Reg. number</th>
                    <th>Pick-up location</th>
                    <th>Drop-off location</th>
                    <th class="hidden">Total</th>
                    <th></th>
                    <th class="hidden"></th>
                    <th class="hidden"></th>
                    </thead>
                    <tbody>
                    <tr>
                        <td>23456</td>
                        <td>Simona Tingleff Kardel</td>
                        <td>06.12.2022</td>
                        <td>09.01.2023</td>
                        <td class="hidden">Brand + model</td>
                        <td class="hidden">DK45678</td>
                        <td>Office</td>
                        <td>CPH Airport</td>
                        <td class="hidden">€10675</td>
                        <td class="hidden"><a href=""><img class="icon" src="/static/images/edit-3.png" alt="edit-icon"></a></td>
                        <td class="hidden"><a href=""><img src="/static/images/trash-2.png" alt="delete-icon"></a></td>
                        <td><a href=""><img src="/static/images/more-horizontal.png" alt="dots-icon"></a></td>
                    </tr>

                    <tr class="last-row"></tr>
                </tbody>
                </table>

            </div>

        </div>
        
    </body>
</html>