@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    /* Variables */


    --background-color: #576746;
    --container-background: #FAFAFA;

    --wrapper-width: 1100px;

    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    box-sizing: border-box;
}

body {
    background: var(--background-color);
}
.top-logo{
    margin:1rem auto 0 auto;
    max-height:100%;
}
.logo-img{
    max-height:7rem;
}
.wrapper {
    max-width: var(--wrapper-width);
    height: 100vh;
    margin: 0 auto 0 auto;
    display: flex;
    flex-direction: column;
    gap:1.5rem;
}

.logo {
    margin: 2rem auto;
    max-width: 20%;
    max-height: 20%;
}

.container {
    max-width: 200vw;
    max-height: 150vh;
    padding: 3.75rem;
    background: var(--container-background);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
}



.camper-img {
    max-width: 45%;
}

form {
    max-width: 45%;
}

h2 {
    font-size: 32px;
    font-weight: 600;
    line-height: 44px;
    letter-spacing: -0.02rem;
}

p {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    color: #898989;
    padding: 0.75rem 0 2rem 0;
}

label {
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5rem;
}

input {
    background: #FFFFFF;
    border: 1px solid #D0D5DD;
    box-shadow: 0 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
    width: 22.5rem;
    height: 2.75rem;
    padding:0.35rem 1.2rem;
    margin:0.5rem 0.3rem 0.5rem 0;
}

.login-btn {
    width: 22.5rem;
    height: 2.75rem;
    background: #A8C06C;
    border: 1px solid #A8C06C;
    box-shadow: 0 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 0.5rem;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5rem;
    color: #FFFFFF;
    padding:0.35rem 1.2rem;
    margin:0.5rem 0.3rem 0.5rem 0;
    transition: all 0.2s;
}

.login-btn:hover {
    background: #576746;
    border: 1px solid #939878;
}

.error {
    color: #B2391A;
}

input.error-active {
    border: 1px solid #B2391A;
}


@media(max-width: 768px) {
    .container {
        flex-direction: column;
        max-height: 35rem;
        padding: 2rem;
    }

    h2, p {
        text-align: center;
    }

    input,button {
        width: 22.5rem ;
    }

    .container::before {
        top: -15%;
        width: 50%;
        height: 50%;
    }
  }

  @media(max-width: 320px) {


    .logo {
        width: 50%;
        height: 50%;
        margin: 15px auto;
    }

    .container {
        max-height: 30rem;
    }

    .container::before {
        top: -25%;
        width: 80%;
        height: 80%;
      }

    h2 {
        font-size: 1.5rem;
    }

    p {
        font-size: 1rem;
    }

    .camper-img {
       display: none;
    }

    input, button {
        width: 22.5rem;
    }

  }

