<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en" xmlns:th="https://www.thymeleaf.org"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang="en" xmlns:th="https://www.thymeleaf.org"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="en" xmlns:th="https://www.thymeleaf.org"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js" lang="en" xmlns:th="https://www.thymeleaf.org"> <![endif]-->
<html  lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Welcome</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/login.css">
</head>
<body>
<div class="wrapper">
    <img class="logo" src="/images/logo.png" alt="logo-img">
    <div class="container">
        <img class="camper-img" src="/images/camper.png" alt="van-img">
        <div>
            <h2>Log in</h2>
            <p>Welcome back! Please enter your details.</p>
            <form method="post">
                <label for="email">Email</label><br>
                <input type="email" name="email" id="email" placeholder="Enter your email"><br>
                <label for="password">Password</label><br>
                <input type="password" name="password" id="password" placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;"><br>
                <input type="submit" value="Login">
                <label th:text="${emp}"></label>
            </form>
        </div>
    </div>
</div>
</body>
</html>